*,
*::before,
*::after {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-sizing: border-box;
  margin: 0 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #191A19;
}



.container {
  margin: 3.125rem auto;
  color: white;
}